{% extends "base.html" %}
    
    {% block title %}Adicionar Livro{% endblock %}
    
    {% block content %} 
<head>
    <meta charset="UTF-8">
    <title>Catalogação de Livros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header-container">
        <img src="{{ url_for('static', filename='images/livro.png') }}" alt="Ícone de Livro" class="book-icon">
        <h1>Bem-vinda à Biblioteca</h1>
    </div>
</body>
</html>
{% endblock %}