{% extends "base.html" %}

{% block title %}Lista de Livros{% endblock %}

{% block content %}
<h1>Lista de Livros</h1>
<form method="GET" action="{{ url_for('listar_livros') }}">
    <label for="ordenar_por">Ordenar por:</label>
    <select name="ordenar_por" id="ordenar_por">
        <option value="titulo_asc">Título (A-Z)</option>
        <option value="titulo_desc">Título (Z-A)</option>
    </select>
    <button type="submit">Ordenar</button>
</form>
<form method="GET" action="{{ url_for('listar_livros') }}">
    <input type="text" name="titulo" placeholder="Buscar por título..." value="{{ titulo_busca }}">
    <button type="submit">Buscar</button>
</form>

{% if livros %}
    <div class="book-list">
        {% for livro in livros %}
            <div class="book-card">
                <table>
                    <tr>
                        <td><strong>Nome:</strong></td>
                        <td>{{ livro["titulo"] }}</td>
                    </tr>
                    <tr>
                        <td><strong>Ano de Publicação:</strong></td>
                        <td>{{ livro["ano"] }}</td>
                    </tr>
                    <tr>
                        <td><strong>Autor:</strong></td>
                        <td>{{ livro["autor"] }}</td>
                    </tr>
                    <tr>
                        <td><strong>Editora:</strong></td>
                        <td>{{ livro["editora"] }}</td>
                    </tr>
                    <tr>
                        <td><strong>Categoria:</strong></td>
                        <td>{{ livro["categoria"] }}</td>
                    </tr>
                    <tr>
                        <td><strong>ISBN:</strong></td>
                        <td>{{ livro["isbn"] }}</td>
                    </tr>
                </table>
                <div class="buttons">
                    <a href="{{ url_for('editar_livro', isbn=livro.isbn) }}">
                        <button class="edit-button">Editar</button>
                    </a>

                    <form method="POST" action="{{ url_for('excluir_livro', isbn=livro.isbn) }}" style="display:inline;" onsubmit="return confirmarExclusao()">
                        <button type="submit" class="delete-button">Excluir</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Nenhum livro cadastrado.</p>
{% endif %}
{% endblock %}
<script>
    function confirmarExclusao() {
        return confirm("Tem certeza que deseja excluir este livro?");
    }
</script>